table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
#valor{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    text-align: center;
    font-size: 18px;
}

td, th {
    border: 1.5px solid black;
    text-align: center;
    padding: 8px;
    font-size: 18px;
}

tr:nth-child(even) {
    background-color: #ccc;
}


